:root {
  --white: #F7FFF6;
  --grey: #cccc;
  --primery: #39A0ED;
  --red: #DB3A34;
  --black: #231F20;
  --platinum: #E6E6E6;
  --dark-blue: #000022;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}
